@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1550882354965'); /* IE9 */
  src: url('../font/iconfont.eot?t=1550882354965#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALMAAsAAAAABrQAAAJ9AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqBIIEeATYCJAMMCwgABCAFhG0HMxvhBRHVkzVkPw6c81k8ab7krcVNCJ3kJP3neKBfM9/f3QNAVU7UzckSs6u6pMDsKgGFufqyRNLZmnPgfnJ+FzVZkrPo0RaTh0J6aToq43+f53J8C+hAVh8ot7Xn8zEBEwx0D4wCCrREEvOGsQtcwn0CirVLC8NHjp+uUMJaFhDWr1m1RGEuLpGwUqEgv2ZvIhyVpzDaF3XjSPj98FVHKCSSF7PWTl45YrnBH4o+9I4zuYz5vlN2Pi/YIWKkkRAW1uZniwXGxor1SXttvkQQzZXKJZTr2nz7D49IIOSzmktBH1SI+FDkylNDb6i860UxyEfS39Ap3WrHvl1UG6rDkv2Psi125ens8wM98VymtrlZHMK8s33x1IHH2WZadSb7bH9tc7dp11VXkfp19ert27mUVEV3969UKurx91MfPX2aS7VpL1gyqMnlD0X1FoNcV9wWZ8LfbBYQKOmf/p5X9P9fWJKAl6fvd4BYrivRv0GhCKb4a4qeQ4mushxxospduRmM1Y30RsCWYuRY4Wrvx5vr7qwYFKpLESnQhlihHkTCpJGnRCfyFRqEYimjDpeosVUsJEXoZxdAUOkeIuWeI1bpBZEw75Cn3nfkqwwxXOMVtmdu7IM3R8FSsYHqB77mgRyXmqj1hnbuSsmqQu6FMvkUpFFSLF1xQJljw/S2mSoBCfdwAY9h1zGMwgFrjZzqeIhjqntRVHO/MI4EKinUAJUf4NXYgPzJypQ+f4OsWackLW016RckJn56kIokPYirfujVdi/PTN6sjFIEEMF64AJmoU6HgbF+VoBqKuJGZEcHsT2O+uqj9Y39B5SxLqwr4hCFOCTW23he/2deLAAAAAA=') format('woff2'),
  url('../font/iconfont.woff?t=1550882354965') format('woff'),
  url('../font/iconfont.ttf?t=1550882354965') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../font/iconfont.svg?t=1550882354965#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-you:before {
  content: "\e627";
}

.icon-zuo:before {
  content: "\e609";
}

